@media only screen and (max-width: 600px) {
#mobilsida  {
   display: grid;
   grid-template-areas:
   'hd'
   'nv'
   'nv'
   'ft';
   height: 150vh;
  
}

body {
    background-color: #9BA994;
    margin: 0px;
}

header {
    grid-area: hd;
    background-color: #EBF3E8; 
    height: 100px;
    margin: 0px 0px 7px 0px;

}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 20px 20px 20px 20px;

}

nav {
    grid-area: nv;
    height: 733px;
    margin: 1px 3px 1px 8px;
}

main {
    grid-area: mn;
    
}

footer {
    grid-area: ft;
    background-color: #EBF3E8;
    height: 150px;
}
}