@media only screen and (max-width: 600px) {
    #mobilsidawithout  {
       display: grid;
       grid-template-areas:
       'hd'
       'mn'
       'mn'
       'ft';
       height: 150vh;
      
    }
    
    body {
        margin: 0px;
        background: rgba(213,194,104,1) 46%;
    }
    
    header {
        grid-area: hd;
        background-image: url(/img/utanvarg.jpg);
        background-size: cover;
        height: 100px;
        margin: 0px;
    
    }

    #logga {
        margin: 0px;
        display:inline;
        position: relative;
        right: -10px;
        top: 5px;
    }
    
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        position: relative;
        top:-100px;
        right: -45px;
        margin: 20px;
        text-align: center;
        color: black;
    
    }

   
    
    main {
        grid-area: mn;
        height: 700px;
    }

    footer {
        grid-area: ft;
        background-color: #EBF3E8;
        height: 150px;
        background-color: #EBF3E8; 
    }
}